@import "tailwindcss";
@font-face {
  font-family: Roboto;
  src: url("./assets/fonts/Roboto-VariableFont_wdth\,wght.ttf");
  font-display: swap;
}
body{
  font-family: Roboto;
  background-color:oklch(97% 0.09 95);
}